ExcellentTeamGames/.vs
ExcellentTeamGames/*.csproj
ExcellentTeamGames/Library
ExcellentTeamGames/Temp/
ExcellentTeamGames/Library/
ExcellentTeamGames/Build/
ExcellentTeamGames/Build/*.apk
ExcellentTeamGames/obj/
ExcellentTeamGames/*.unitypackage
ExcellentTeamGames/*.sln
ExcellentTeamGames/UnityPackageManager
ExcellentTeamGames/*.collabignore
ExcellentTeamGames/AssetBundles/
ExcellentTeamGames/Logs
ExcellentTeamGames/UserSettings
ExcellentTeamGames/shadercompiler-UnityShaderCompiler.exe
ExcellentTeamGames/EXE
/ExcellentTeamGames/Assets/GameResorces/2D/Font/font.ttf.meta
/ExcellentTeamGames/Assets/GameResorces/2D/Font/font.ttf
*.ttf
ExcellentTeamGames/Assets/GameResorces/2D/Font/MochiyPopOne-Regular.ttf.meta
